= provide :title, 'Home'

.search-banner
  .title
    %h1 НАЧНИТЕ СВОЁ ПУТЕШЕСТВИЕ ЗДЕСЬ!
    %h4
      Ищите, просматривайте информацию об отелях, читайте отзывы
      и участвуйте в формировании рейтинга

  = render 'search_form'

.best-banner
  .title
    %h2 Лучшие отели по мнению пользователей

  = render 'best_hotels'

.news-banner
  .title
    %h2 Последние новости сайта

  = render 'last_news'
