= provide :title, 'Home'

= render 'layouts/big_search_form'

.best-banner
  .title
    %h3.my-panel-title Лучшие отели по мнению пользователей

  = render 'best_hotels'

.news-banner
  .title
    %h3.my-panel-title Последние новости сайта

  = render 'last_news'
