// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "layouts/search-form";
@import "layouts/best_hotels";
@import "layouts/last_news";

.big-search-banner {
  height: 500px;
  background-image: image-url("paradise.jpg");
  padding: 8% 15% 0% 15%;

  .title {
    color: white;
    text-align: center;
    margin-bottom: 5px;
  }
}

.small-search-banner {
  padding: 1% 15%;
  background-color: #5d5d5d;

  label {
    color: white;
  }
  .input-text {
    margin-bottom: 0px;
    input {
      border-radius: 0px;
    }
  }

  .search-btn {
    height: 38px;
    margin-top: -2px;
  }
}

.best-banner {
  .banner-body {
    height: 921px;
  }
}

.news-banner {
}

.banner-body {
  margin: 5px 10% 20px 10%;
}