= render 'layouts/big_search_form'

%h3.my-panel-title
  Найдите подходящий вариант и отправляйтесь!
- if @hotels.any?
  .top-pagination-group
    = paginate @hotels
  .card-list
    - @hotels.each do |hotel|
      = render hotel
  .bottom-pagination-group
    = paginate @hotels
- else
  %p Удивительное рядом