%header
  %nav
    = link_to 'Hotel Advisor v2', root_path
    %ul
      %li
        = link_to 'Help', static_pages_help_path
      %li
        = link_to 'About us', static_pages_about_path
      %li
        = link_to 'Contact', static_pages_contact_path
