.include-true {
  color: #238025;
}

.include-false {
  color: #ff372c;
}

.card-list {
  padding-left: 10%;
  padding-right: 10%;
}
.card {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid white;
  width: 31%;
  margin: 10px 11px 10px 11px;

  .card-image {
    width: 100%;
    height: 200px;
  }

  .card-block {
    padding: 15px;
    height: 350px;

    .main {
      margin-bottom: 10px;
    }

    .title {
      width: 50%;
      float: left;
      height: 40px;
      a {
        color: cornflowerblue;
      }
      a:hover {
        color: cornflowerblue;
      }
    }
    .score {
      width: 50%;
      float: right;
      text-align: right;
      margin-bottom: 10px;
      color: cornflowerblue;
    }
    .score.rater-count {
      font-size: 13px;
      color: black;
    }
  }
  .left {
    float: left;
  }
}
.card:hover {
  .card-block {
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
  }
}

.full-text-btn {
  background-color: rgba(255, 255, 255, 0);
  color: cornflowerblue;
  border: none;
  margin-bottom: 10px;
  i {
    top: 2px;
  }
}

.best_review {
  font-size: 13px;
  position: absolute;
  width: 91%;

  .text-preview {
    text-align: justify;
  }
  .text-full {
    display: none;
    text-align: justify;
  }

  .author {
    font-weight: 600;
  }
}

